
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share-style*** */
.display-flex{
    display: flex;
}
/* dark-1 */
.text-light-gray{
color: #131313;
}
/* dark-2 */
.text-color{
    color: #424242;
}
/* dark-3 */
.dark-3{
    color: #727272;
  
}
.bg-color{
background-color: rgba(255, 144, 14, 0.1);
}
.primary{
  color: #FF900E;
}
.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  padding:20px 25px ;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight:600 ;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main > section{
   margin-top: 50px;  
}
.section-title{
font-size: 2.8rem;
font-weight: 700;
}
/* header -style */

/* navber style */
.navber{
justify-content: space-between;
align-items: center;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navber, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
.brand{
    font-weight:700;
    font-size: 2.8rem;
  
}
 /* banner  */

 .semi-div{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
 }
 .banner-title{
    font-size:4rem ;
    font-weight:bold ;
 }
 .descreption{
    font-size: 1rem;
  
 }
 .banner-img{
    width: 100%;
 }
    /* <!-- Quick list of Our Features --> */
.teams{
    align-items: center;
   
}
.team-img-contaier{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   gap: 15px;
    
}
.Our-Features{
   margin-left: 80px; 
   /* max-width: 350px;
   border: 1px solid red; */
padding: 10px;
}
.Features-title{
    font-size: 2rem;
    font-weight: 700;
}
.quick{
    font-weight: 500;
}

/* love & enjoy features */

#love-title{
    border-left:5px solid #FF900E;
    padding-left: 20px;
}
.Features-card h5{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Features-card{
    border-radius: 10px;
    /* border: 1px solid red; */
    padding: 15px;
  margin-top: 10px;
  box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.enjoy{
    gap: 50px;
}
#year{
    font-size: 3rem;
    font-weight: 700;
}
.Experience{
    font-size: 1.25rem;
    font-weight: 500;
}
 /* responcive */
/* small device */
 @media screen and (max-width:576px) {
    .navber ,
     .nav-links ,
     .teams{
        flex-direction: column;
    }
    .team-img-contaier{
        grid-template-columns: repeat(1,1fr);
    }
    .Our-Features{
        margin-left: 20px;
        max-width: 340px;
    }
 }
 /* medium device */
 @media screen and (min-width:577px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
  .Our-Features{
    margin: 100px;
  }
 }